//- docktype strict 
//- html 
//-     head
//-     body
//-         h1 Welcome to decode
//-         p.  
//-             This is a pug up text 
//-             and this is a new line 
//-         ul 
//-             li this item1 
//-             l2 this item 2
//-             l3 this is item4 
//- doctype html 
//- html 
//-     head 
//-     body 
//-         h1 #pageTitle Page Title goes here! 
//-         p.big-para.
//-          here is the big paragraph contaning all 
//-          here and there
//-         p.big-para . 
//-          here is another big paragraph
//-          also unless you are wise
//-         .display-box
//-         #myOnlyDiv
//- doctype transitional 
//- html 
//-     head 
//-     body 
//-         input(type="password" name="inpwd" data-js=`${1 > 2 ? "OK" :"NOTOKAY"}`)
//-         - const myClasses = ["Class1","Class2","Class3"]
//-         div.my-div(class=myClasses)
//-         - const mystyles = {"color":"red","background-color":"blue"}
//-         div(style=mystyles)
//-         - const myAttributes = {"src":"myphoto.png","alt":"This is my photo"}
//-         img&attributes(myAttributes)
//-         input(type="text" disabled)


